/* CSS for Rock Paper Scissors Game */

body {
    background-color: bisque;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container > *{
    padding: 10px;
}

#round-res {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    align-content: center;
    text-justify: center;
}