* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgd-color);
}

:root {
    font-size: 5vmin;
    --bgd-color: #1e1e1e;
    --bgd-color-light: #2e2e2e;
    --prm-color: #e1e1e1;
    --sec-color: #b0b0b0;
}

/*To PREVENT DIV-TEXT SELECTION by Mouse at the Page*/
div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.party {
    font-size: 0.8rem;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0.2;
}

.hand {
    font-size: 2.5rem;
    background-color: var(--bgd-color-light);
    color: orangered;
    border: 2px solid orangered;
    border-radius: 10px;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    transition: 0.25s;
}

.play-buttons.hand {
    color: #ff44009f;
}

.play-buttons.hand:hover {
    color: orangered;
    cursor: pointer;
    box-shadow:
        0 0px 20px orangered,
        0 0px 40px orangered;
}

.play-buttons.hand:active {
    transform: translateY(3px);
    background-color: #ff44009f;
    color: var(--bgd-color-light);
}

.shining-winner {
    background-color: #ff4400cc;
    color: var(--bgd-color);
}

.party > div {
    margin: 0.25rem
}

.score {
    font-size: 2rem;
    padding: 25% 0;
    color: var(--prm-color);
}

#container {
    margin: auto;
    padding: 0.25rem;
    background-color: var(--bgd-color);
    color: orangered;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
      min-width: 100vmin;
      max-width: 125vmin;
      height: 100vmin;    
    border-radius: 10px;
}

#container > div {
    border: 2px solid orangered;
    border-radius: 10px;
    padding: 0.25rem;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#central {
    display: flex;
    justify-content:space-between;
    align-items: stretch;
    flex: 0.95;
}

#round-res {
    padding: 0.25rem;
    border: 1px solid var(--sec-color);
    border-radius: 10px;
    flex: 0.5;
    font-size: 0.65rem;
    color: var(--sec-color);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

}

.content {
    padding: 0.05rem;
}

#buttons {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#but-restart {
    padding: 20px 10px;
    font-size: 0.75rem;
    background-color: var(--bgd-color-light);
    color: orangered;
    border: 2px solid orangered;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

#but-restart:hover {
    font-size: larger;
    cursor: pointer;
    box-shadow:
        0 0px 20px orangered,
        0 0px 40px orangered;
}

.btn-hide {
    display: none !important;
}

@media (max-width: 640px) {
    :root {
        font-size: 32px;
    }
    
    #container {
        min-width: 640px;
        min-height: 640px;
    }
}